@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Lexend', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-background-light dark:bg-background-dark text-slate-800 dark:text-slate-100 min-h-screen flex flex-col font-display;
}

.pool-gradient {
  background: radial-gradient(circle at center, rgba(19, 164, 236, 0.1) 0%, rgba(246, 247, 248, 1) 100%);
}

.ios-scroller::-webkit-scrollbar {
  display: none;
}
.ios-scroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
